<?xml version="1.0" encoding="UTF-8"?>
<menus>
    <display-name>jQuery Menu</display-name>
    <description>jQuery模块的菜单项</description>

    <menu>
        <id>level_1</id>
        <name>jQuery基础</name>
        <module>foundation</module>
        <children id="level_1_1" name="jQuery API" href="./foundation/api/index.html" module="api" />
        <children id="level_1_2" name="jQuery 源码分析" href="./foundation/source/index.html" module="source"/>
    </menu>
    <menu>
        <id>level_2</id>
        <name>jQuery UI</name>
        <module>jqueryui</module>
        <children id="level2_1" name="jQuery UI 源码分析" href="./jqueryui/source/index.html" module="source" />
        <children id="level2_2" name="jQuery UI API" href="" module="api" />
        <children id="level2_3" name="jQuery UI 皮肤" href="" module="skin" />
        <children id="level2_4" name="jQuery UI 插件扩展" href="" module="plugin" />
    </menu>
</menus>
