<?xml version="1.0" encoding="UTF-8"?>
<menus>
    <display-name>其他</display-name>
    <description>其他相关</description>

    <menu>
        <id>level_1</id>
        <name>开发必备</name>
        <module>tools</module>
        <children id="level_1_1" name="转换工具" href="./tools/convert/index.html" module="convert" />
        <children id="level_1_2" name="相关软件" href="./tools/software/index.html" module="software" />
    </menu>
    <menu>
        <id>level_2</id>
        <name>插件开发</name>
        <module>plugins</module>
        <children id="level_2_1" name="浏览器插件开发" href="./plugins/browser/index.html" module="browser" />
    </menu>
    <menu>
        <id>level_3</id>
        <name>git 学习</name>
        <module>git</module>
        <children id="level_3_1" name="github" href="./git/github/index.html" module="github" />
    </menu>
</menus>
