@CHARSET "UTF-8";

/*******************************************************************************/
/*	该css预定义实例中用到的css，所有的样式以h-web开头 */
/*******************************************************************************/

/*******************************************************************************/
/*实例中以目录、内容来布局的样式 */
/*******************************************************************************/

.h-web-catalogue {
    margin: 5px 0 5px 30px;
    list-style-type: decimal;
}
.h-web-catalogue li{
    list-style-type: decimal;
    padding: 5px 10px 5px 0;
}
.h-web-catalogue a{
    border-bottom: 1px dashed #005B73;
    color: #005B73;
    font-size: 14px;
}
.h-web-paragraph {

}
.h-web-paragraph h3, .h-web-paragraph-title{
    /*GRADIENT*/
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea),
        color-stop(100%, #009ec3) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    /* IE10+ */
    background: linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea',
        endColorstr='#009ec3', GradientType=0 );
    border-bottom: 1px dashed #005B73;
    border-top: 1px solid #005B73;
    padding: 5px 10px;
    color: #FFFFFF;
}
.h-web-paragraph p, .h-web-paragraph pre, .h-web-paragraph table, .h-web-paragraph h4, .h-web-paragraph img, .h-web-paragraph ul {
    margin:10px 20px;
}
.h-web-paragraph p, .h-web-paragraph pre, .h-web-paragraph table , .h-web-paragraph ul{
    color: #005B73;
    font-size: 14px;
}
.h-web-paragraph p{
    text-indent: 2em;
}
.h-web-paragraph pre{
    border: 1px dotted #778855;
    padding:10px;
    white-space: pre-wrap;
}
.h-web-paragraph h4{
    color: #009EC3;
    font-size: 14px;
}
.h-web-paragraph table{
    border-collapse: collapse;
}
.h-web-paragraph table td, .h-web-paragraph table th{
    border: 1px solid #888888;
    padding: 5px;
}
.h-web-paragraph a{
    text-decoration:underline;
    color:#009EC3;
}
.h-web-paragraph ul{
   list-style-type: disc; 
}
.h-web-paragraph ul li{
    padding: 5px 0;
    list-style-type: disc;
    list-style-position: inside;
}
.h-web-font-red, p.h-web-font-red{
	color:#F94A76;
	font-weight:bold;
}